#homeTitle {
  padding-top: 200px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../public/images/fond2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  #contentTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: calc(100% - 20px);
    padding: 150px 20px;
    max-height: 20vh;
    h1{
      width: fit-content;
      padding: 10px 20px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 900;
    }
    p{
      width: fit-content;
      padding: 10px 20px;
    }
    div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      margin: 50px 0px;
    }
  }
  #homeNb {
    margin-top: 20px;
    padding: 50px 10px;
    width: calc(100% - 20px);
    background: #ebf1f4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--theme);
    }
  }
}
