@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
* {
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px #efefef;
    border-radius: 10px;
    color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--btnColor);
    border-radius: 10px;
  }
}
body {
  overflow-x: hidden;
}
.nav-btn {
  color: white;
  font-weight: bolder;
  padding: 10px 15px;
  background: var(--active);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background: var(--theme);
  }
}
:root {
  --btnColor: #783719;
  --theme: #313d2f;
  --footer: #162024;
  --active: #728c6b;
}
.title{
  width: fit-content;
  h3{
    background: var(--footer);
    width: fit-content;
    color: white;
    padding: 10px 20px 10px 50px;
  }
}