@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
* {
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px #efefef;
    border-radius: 10px;
    color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--btnColor);
    border-radius: 10px;
  }
}
body {
  overflow-x: hidden;
}
button.custom {
  background: rgba(120, 55, 25, 0.5);
  backdrop-filter: blur(3px);
  border: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 7px;
  box-shadow: 0 0 7px black;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: var(--btnColor);
    transform: scale(1.05);
  }
}
:root {
  --btnColor: #783719;
  --theme: #133A32;
  --footer: #162024;
}
.title{
  width: fit-content;
  h3{
    background: var(--footer);
    width: fit-content;
    color: white;
    padding: 10px 20px 10px 50px;
  }
}