#principale {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  font-size: 20px;
  li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: var(--theme);
    a {
      text-decoration: none;
      color: var(--theme);
      font-weight: bold;
    }
    &:hover {
      color: var(--active);
      & > a {
        color: var(--active);
      }
    }
    ul {
      padding: 0;
      position: absolute;
      visibility: hidden;
      transform: translateY(30px);
      opacity: 0;
      transition: 0.3s;
      top: 80%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: rgba($color: #fff, $alpha: 1);
      backdrop-filter: blur(2px);
      min-width: 100px;
      color: var(--theme);
      li {
        p {
          text-decoration: none;
          color: var(--theme);
        }
        padding: 10px;
        &:hover {
          p {
            color: var(--active);
          }
        }
      }
    }
    &:hover > ul {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
#smPrincipale {
  list-style: none;
  font-size: 20px;
  & > li {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    a {
      text-decoration: none;
      color: var(--theme);
      transition: 0.2s;
      &:hover {
        color: var(--active);
      }
    }
    & > ul {
      list-style: none;
      margin-left: 30px;
      font-size: 17px;
      & > li {
        margin: 5px 0;
        p {
          cursor: pointer;
          color: var(--theme);
        }
        p:hover{
          color: var(--active);
        }
      }
    }
  }
}
nav {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 45px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: ease-in-out 0.5s;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  transition: 0.5s;
  background: rgba($color: #fff, $alpha: 0.4);
}
