#news {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 2rem;
    width: 70%;
    text-align: center;
    color: var(--theme);
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  #news {
    h1 {
      font-size: 1.5rem;
    }
  }
}
