#program {
  background-image: url("../../public/images/fond1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 200px;
  div.content {
    background: white;
    padding: 100px 80px 10px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
      position: relative;
      padding-top: 550px;
      width: 100%;
      img {
        width: 50%;
        height: 500px;
        object-fit: cover;
        position: absolute;
        box-shadow: 0 0 15px #1b272c;
        top: 0;
        left: 50%;
        opacity: 0.8;
        transition: 0.2s;
        min-width: 300px;
        &:hover {
          z-index: 2;
          opacity: 1;
          transform: scale(1.1);
          & ~ div {
            opacity: 0.5;
          }
        }
      }
      div {
        width: 50%;
        transition: 0.2s;
        background: #1b272c;
        height: fit-content;
        padding: 20px;
        color: white;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        box-shadow: 0 0 15px #1b272c;
        min-width: 260px;
        z-index: 1;
        p {
          margin-top: 20px;
          color: #ccc;
        }
      }
    }
    &>div.xs{
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 20px;
        img{
            width: 100%;
            height: 500px;
            position: inherit;
            transform: none;
            opacity: 1;
            left: auto;
            &:hover {
                z-index: inherit;
                transform: none;
                & ~ div {
                  opacity: 1;
                }
              }
        }
        div{
            left: auto;
            transform: none;
            width: calc(100% - 40px);
            position: inherit;
        }
    }
  }
}
@media screen and (max-width: 500px) {
    #program{
        div.content{
            padding: 100px 10px 10px 10px;
        }
    }
    
}
